<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="icon" rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="My Reccomendation Redtaurant" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>BOUFFER</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Go to Main Content</a>
    <header>
        <app-bar></app-bar>
        <hero-element></hero-element>
    </header>
    <main id="mainContent" tabindex="0">
        <!-- <div class="form-container">
            <div class="form-content">
                <p id="reservation__title">Reservation</p>
                <h2>Book A Table</h2>
                <form>
                    <input type="number" id="reservation-person" placeholder="1 Person" required>
                    <input type="date" id="reservation-date" required>
                    <input type="time" id="reservation-time" required>
                </form>
                <button type="button" class="btn" id="btn" aria-label="to reservation">Book Now</button>
            </div>
            </div> -->
        <div class="main-content">
        </div>
    </main>
    <footer-bar></footer-bar>
</body>

</html>