/* Responsive breakpoint */

@media screen and (max-width: 768px) {
    nav ul {
        position: fixed;
        right: 0;
        align-items: center;
        background-color: white;
        justify-content: space-evenly;
        height: 100vh;
        top: 0;
        display: list-item;
    }
    .drawer {
        display: flex;
    }
    .navListContainer {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .navListContainer.open {
        display: block;
    }
    .nav-list {
        background-color: rgba(12, 12, 12, 0.9);
    }
    .form-container {
        font-size: smaller;
        font-family: 'Cormorant Upright', 'Courier New', sans-serif, monospace;
        padding: 5% 25%;
        background-image: url("../public/images/background/BG.png");
    }
    .form-content {
        padding: 2% 5%;
        text-align: center;
        border: 1px solid rgba(220, 202, 135, 0.5);
        background-color: #0c0c0c;
    }
    form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form>input {
        width: 100%;
        min-height: 44px;
        margin: 10px;
    }
    .relax {
        width: 100%;
        resize: vertical;
    }
    .second-content-container {
        flex-direction: column;
        width: 100%;
    }
    .list-restaurant {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .hero__inner {
        top: 50%
    }
    .righ-second-content,
    .left-second-content,
    .title-list {
        padding: 0;
    }
}

@media screen and (min-width: 540px) {
    .list-restaurant {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .list-restaurant {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .list-restaurant {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
    .p {
        font-size: 2em;
    }
}